html {
  background-color: rgb(242, 242, 242);
}

.App {
  margin-top: 80px;
  text-align: center;
}

header {

  width: 80vw;
  margin: 0 auto;
  margin-bottom: 50px;

}

header a {
  margin: 30px;
  padding: 5px;
  background-color: rgb(207, 207, 207);
  text-decoration: none;
  color: #000;
  border-radius: 5px;
}

a:hover {
  text-decoration: underline;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.back-link {
  text-decoration: none;
  color: #000;
}

.product-grid div {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 30px;
}

.product-grid div img {
  width: 15vw;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.detail-product-container {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 50px;
  margin-top: 30px;
}

.show-more-button {
  padding: 5px;
  background-color: rgb(207, 207, 207);
  text-decoration: none;
  color: #000;
  border-radius: 5px;
}

.detail-product-container img {
  width: 100%;
}